div.recipe, div.index { font-style: Times, Serif; font-size: 12pt; margin-left: 7%; margin-right: 10%; background-color: #ffe; padding: 1em; margin-top: 1em;}
div.recipe img {float: right; padding: 1em}
body {background-color: #666}
span.label { font-weight: bold }
p.title { font-size: 120%; text-align: center}
p.title span.label {display: none}
div.header p {margin-top: 0; margin-bottom: 0.2em}
div.ing { padding: 1em; border: solid 1px; background-color: #eef}
}
 li.ing { list-style: none; border-top: 0.3em }
 div.cookmode { color: white; font-size: 120%; padding: 1em;  text-align: center }
 input#toggle { color: white; font-size: 100%; background-color: #666; text-align: left; border: none }
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  vertical-align: super;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #666;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #eef;
}

input:focus + .slider {
  box-shadow: 0 0 1px #eef;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
